<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my easystore</title>
    <style type="text/css">
        a{
            font-size: 30px;
            font-family: 楷体;

        }
        em{
            font-size: 18px;
            font-family: 微软雅黑;
        }
    </style>
</head>
<body>
<h2>Welcome to my EasyStore</h2>
<hr>
<ul>
    <li><a href="/list">二手手机列表</a></li>
    <br>
    <br>
    <li><a href="/about">关于EASY</a></li>
</ul>
<hr>
<em>今日佳句：{{ quote }}</em>
</body>
</html>